@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?761dwy');
  src:  url('../fonts/icons/icomoon.eot?761dwy#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?761dwy') format('truetype'),
    url('../fonts/icons/icomoon.woff?761dwy') format('woff'),
    url('../fonts/icons/icomoon.svg?761dwy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe::before {
  content: "\e907";
  color: #fff;
}
.icon-sign::before {
  content: "\e906";
  color: #7eb9a7;
}
.icon-circle::before {
  content: "\e905";
  color: #ac8e66;
}
.icon-cross::before {
  content: "\e900";
  color: #fff;
}
.icon-bar::before {
  content: "\e901";
  color: #fff;
}
.icon-arrow::before {
  content: "\e902";
  color: #fff;
}
.icon-teleg::before {
  content: "\e903";
  color: #fff;
}
.icon-swapster::before {
  content: "\e904";
  color: #fff;
}
.icon-coex-mt::before {
  content: "\e908";
  color: #fff;
}
.icon-seven-senses::before {
  content: "\e909";
  color: #fff;
}
.icon-coex::before {
  content: "\e916";
  color: #fff;
}
.icon-logo-main::before {
  content: "\e917";
  color: #fff;
}
.icon-logo-small::before {
  content: "\e919";
  color: #fff;
}
