@font-face {
    font-display: swap;
    font-weight: 500;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/text/Montserrat-Medium.woff2) format("woff2"), url(../fonts/text/Montserrat-Medium.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-weight: 600;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/text/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/text/Montserrat-SemiBold.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-weight: 700;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/text/Montserrat-Bold.woff2) format("woff2"), url(../fonts/text/Montserrat-Bold.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-weight: 400;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/text/Montserrat-Regular.woff2) format("woff2"), url(../fonts/text/Montserrat-Regular.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-weight: 300;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/text/Montserrat-Light.woff2) format("woff2"), url(../fonts/text/Montserrat-Light.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-weight: 200;
    font-family: 'Montserrat';
    font-style: normal;
    src: url(../fonts/text/Montserrat-ExtraLight.woff2) format("woff2"), url(../fonts/text/Montserrat-ExtraLight.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-weight: 700;
    font-family: 'Roboto';
    font-style: normal;
    src: url(../fonts/text/Roboto-Bold.woff2) format("woff2"), url(../fonts/text/Roboto-Bold.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;
    src: url(../fonts/text/Roboto-Regular.woff2) format("woff2"), url(../fonts/text/Roboto-Regular.woff) format("woff");
}


:root {
    --white: #fff;
    --top-block-back: rgba(255, 255, 255, 0.07);
    --black: #000000;
    --borrow: #AC8E66;
    --grey: #D9D9D9;
    --green: #9EDEC4;
    --rs-link: rgba(168, 173, 147, 0.7);
    --ss-link: linear-gradient(90.7deg, #1F49E4 3.95%, #762ACC 100%);
    --submit-button: #3498A2;
    --error: #EE4B2B;
}

* {
    box-sizing: border-box;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, ul, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
}

button {
    border: none;
    background: transparent;
}

main {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

picture {
    display: inline-block;
}


.container {
    max-width: 1680px;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

.web-decor-top {
    position: relative;
    padding-bottom: 265px;
}

.web-decor-top__angle {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border: solid var(--white);
    border-top-width: 3vw;
    border-bottom-width: 55px;
    border-left-width: 0vw;
    border-right-width: 100vw;
    border-left-color: transparent;
    border-top-color: transparent;
}

.web-decor-top::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: no-repeat center / cover url("../img/desktop-top-back.png");
    z-index: -2;
    mix-blend-mode: overlay;
    opacity: 0.8;
    filter: blur(1px);
}

.web-decor-top::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180.02deg, #15222A 46.41%, #15222A 46.41%);
    z-index: -3;
}

[class*="web-decor"] * {
    color: var(--white);
}

.header {

    margin-bottom: 344px;
    background: linear-gradient(180deg, #000000 5.25%, rgba(0, 0, 0, 0) 94.76%);

}

.header__body {
    display: flex;
    align-items: center;
    gap: 240px;
}

.nav {
    flex-grow: 1;
}

.nav * {
    font-weight: 500;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 137px;

}

.icon-logo-small {
    transform: translateY(3px);
}

.icon-globe::before {
    font-size: 20px;
    margin-right: 12px;
    display: inline-block;
    transform: translateY(-2px);
}

.companies__title {
    position: relative;
    padding-right: 28px;
    cursor: default;
}

.companies__title::before {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 10px;
}

.companies {
    position: relative;
}

.companies__list {
    position: absolute;
    padding-top: 15px;
    top: calc(100%);
    left: -15px;
}

.companies__item {
    padding: 15px 15px;
    display: none;
}

.companies__link {
    font-weight: 300;
    white-space: nowrap;
}


.companies__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.companies__item.open {
    display: inline-block;
    animation: appear .3s ease-in-out;
}

.companies__item.closing {
    display: inline-block;
    animation: disappear .4s ease-in-out;
}

.companies.disabled {
    pointer-events: none;
}


.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 300px;
}

.button {
    min-height: 87px;
    min-width: 406px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    font-weight: 600;
}


.hero__logo {
    margin-bottom: 30px;
}

.hero__logo::before {
    font-size: 50px;
}

.hero__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 84px;
}

.hero__title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    word-spacing: 6px;
}

.hero__button {
    background: var(--submit-button);
}

.nav__item {
    z-index: 100;
}

.companies__link, .nav__link, .footer__link, .bottom__link, .button, .popup__close, .nav__close, .header__bar {
    transition: opacity .3s ease-in-out;
}

.companies__link:hover, .nav__link:hover, .footer__link:hover, .bottom__link:hover, .button:hover, .popup__close:hover, .nav__close:hover, .header__bar:hover {
    opacity: .6;

}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about__description, .about__subdescription {
    text-align: center;
}

.about__description {
    font-weight: 500;
    max-width: 1050px;
    margin-bottom: 40px;
}

.about__subdescription {
    font-weight: 300;
    max-width: 1356px;
    margin-bottom: 84px;
}

.about__list {
    display: flex;
    gap: 56px;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.about__item {
    width: 712px;

    overflow: hidden;
}

.about__link {
    padding: 52px;
    gap: 27px;
    background: rgba(255, 255, 255, 0.07);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: background .3s ease-in-out;
}

.about__link:hover {
    background: rgba(255, 255, 255, 0);

}

.about__text {
    max-width: 460px;
}

.about__item:nth-child(2) .about__text {
    max-width: 360px;
}

.about__item:nth-child(3) .about__text {
    max-width: 610px;
}

.border_radius {
    border-radius: 10px;
}

.text_center {
    text-align: center;
}

.about__logo::before {
    font-size: 118px;
}

.coex {
    padding-top: 100px;
}

.title {
    display: flex;
    align-items: center;
}

.title__text {
    font-weight: 600;
    text-transform: uppercase;
}

.title__logo {
    padding-right: 57px;
    margin-right: 57px;
    position: relative;
}

.title__logo::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
}

.coex__logo::before, .coexmt__logo::before {
    font-size: 100px;
}

.coex__logo::before {
    color: var(--black);
}

.coex__logo::after, .coexmt__logo::after {
    height: 101px;
}

.coex__logo::after {
    background: var(--black);

}

.coex__title, .coexmt__title {
    margin-bottom: 110px;
}

.benefits {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    gap: 84px;
    margin-bottom: 56px;
}

.benefits__item {
    position: relative;
    padding: 45px 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.benefits__item::after, .benefits__item::before {
    content: '';
    position: absolute;
    /*background: var(--black);*/
    border: 3px solid var(--black);
    border-radius: 10px;
    left: 0;
    right: 0;
    height: 30px;
}

.nav__close {
    display: none;
}

.benefits__item::before {
    top: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
}


.benefits__item::after {
    bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;

}

.benefits__text {
    font-weight: 400;
    text-align: center;
}

.coex__subtitle {
    font-weight: 600;
    margin-bottom: -20px;
}

.coex__map {
    margin-bottom: 144px;
}

.map {
    position: relative;
    height: 28vw;
}

.parent-size {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.map .container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 130px;
}

.map__picture {

}

.coex__button {
    background: var(--borrow);
    color: var(--white)
}

.cases {
    display: flex;
    justify-content: center;
    gap: 125px;
    flex-wrap: wrap;
}

.cases__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.cases__item:nth-child(1) .cases__description {
    max-width: 405px;
}


.cases__item:nth-child(2) {
    margin-top: 240px;
}

.cases__decor {
    width: 130px;
    height: 130px;
}

.cases__description {
    font-weight: 400;
    max-width: 480px;
}


.coex__cases {
    margin-bottom: 168px;
}

.coexmt__logo::before, .coexmt__title .title__text {
    color: var(--borrow);
}

.coexmt__logo::after {
    background: var(--borrow);
}

.coexmt__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 82px;
}

.coexmt__list {
    display: flex;
    flex-direction: column;
}

.coexmt__start {
    margin-bottom: 120px;
}

.coexmt__start .coexmt__list {
    gap: 71px;
}

.coexmt__end .coexmt__list {
    gap: 60px;
}

.coexmt__end .coexmt__list {
    max-width: 670px;
}

.coexmt__item {
    display: flex;
    gap: 20px;
}

.coexmt__picture {
    overflow: hidden;
}

.coexmt__decor::before {
    font-size: 25px;
}

.coexmt {
    margin-bottom: 50px;
}

.coexmt__text {
    font-weight: 400;
}

.header__bar {
    display: none;
}

.dark-sections {
    position: relative;
    overflow: hidden;
}

.dark-sections__shadow {
    top: -800px;
    background: linear-gradient(180.02deg, #15222A 46.41%, #000000 62.88%, #000000 66.04%);
    z-index: -3;
}


.web-decor-middle {
    position: relative;
}

.web-decor-middle__angle {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    border: solid var(--white);
    border-bottom-width: 3vw;
    border-top-width: 50px;
    border-left-width: 0vw;
    border-right-width: 100vw;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.web-decor-middle::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: no-repeat center / cover url("../img/desktop-center-back.png");
    z-index: -2;
    mix-blend-mode: overlay;
    opacity: 0.8;
    filter: blur(1px);
}

.swapster__logo::before {
    display: inline-block;
    font-size: 63px;
    transform: translateY(5px);
}

.swapster__logo::after {
    height: 68px;
    background: var(--white);
}

.swapster__title {
    margin-bottom: 140px;
}

.swapster__body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 21px;
    pointer-events: none;
}

.swapster__picture {
    margin-top: -24px;
    height: 800px;
    width: 746px;
    margin-left: -145px;
    z-index: 0;
}

.swapster__item {
    max-width: 550px;
    margin-left: 325px;
}

.swapster__decor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--green);
    border-radius: 50%;
}

.swapster__decor::before {
    font-size: 0px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 1px;
    height: 310px;
    background: var(--green);
    transform: translateX(-50%);
}

.swapster__decor::after {
    position: absolute;

    content: '';
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: 310px;
    width: 10px;
    height: 10px;
    border-top: 1px solid var(--green);
    border-left: 1px solid var(--green);

}

.swapster__image {
    object-fit: contain;
}

.swapster__item:nth-child(1) {
    max-width: 600px;
    margin-left: 0px;
}

.swapster__item:nth-child(2) {
    margin-left: 210px;
}

.swapster__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.swapster__item:nth-child(1) .swapster__decor {
    transform: rotate(19deg);
    top: 358px;
    left: 538px;
}

.swapster__item:nth-child(1) .swapster__decor::before {
    height: 278px;
}

.swapster__item:nth-child(1) .swapster__decor::after {
    bottom: 278px;
}

.swapster__item:nth-child(2) .swapster__decor {
    transform: rotate(44deg);
    top: 376px;
    left: 562px;
}

.swapster__item:nth-child(2) .swapster__decor::before {
    height: 307px;
}

.swapster__item:nth-child(2) .swapster__decor::after {
    bottom: 307px;
}

.swapster__item:nth-child(3) .swapster__decor {
    transform: rotate(65deg);
    top: 402px;
    left: 579px;
}

.swapster__item:nth-child(3) .swapster__decor::before {
    height: 340px;
}

.swapster__item:nth-child(3) .swapster__decor::after {
    bottom: 340px;
}

.swapster__item:nth-child(4) .swapster__decor {
    transform: rotate(78deg);
    top: 432px;
    left: 588px;
}

.swapster__item:nth-child(5) .swapster__decor {
    transform: rotate(92deg);
    top: 465px;
    left: 582px;
}

.swapster__button {
    background: #2E608C;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-130px);
    pointer-events: auto;
}

.swapster {
    position: relative;
    margin-bottom: 83px;
    padding-top: 265px;
}

.swapster__shadow {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 188px;
    background: linear-gradient(180deg, rgba(10, 18, 24, 0.17) 0%, #0B1217 51.56%);
}

.senses__body {
    padding: 54px 156px 96px 140px;
    margin-left: -140px;
    margin-right: -140px;
    background: linear-gradient(113.03deg, rgba(69, 59, 217, 0.12) 3.72%, rgba(111, 44, 206, 0.12) 93.72%);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.senses__logo::before {
    display: inline-block;
    font-size: 79px;
    transform: translateY(3px);
}

.senses__logo::after, .side__logo::after {
    background: var(--white);
    height: 79px;
}

.senses__title {
    margin-bottom: 138px;
}

.senses__picture {
    margin-top: -30px;
    width: 395px;
    height: 493px;
    margin-bottom: 84px;
}

.senses__content {
    display: flex;
    align-items: flex-start;
}

.senses__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 130px 90px;
}

.senses__item {
    max-width: 441px
}

.senses__number {
    width: fit-content;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--white);
    margin-bottom: 38px;
}

.senses__item:nth-child(1), .senses__item:nth-child(2), .senses__item:nth-child(3) {
    max-width: 408px
}

.senses__button {
    background: linear-gradient(90.7deg, #1F49E4 3.95%, #762ACC 100%);
}


.senses__text {
    font-weight: 400;
}

.senses {
}

.side * {
    color: var(--white);
}

.side {
    padding-top: 128px;
    background: var(--black);
    padding-bottom: 150px;
}

.side .title__image {
    width: 223px;
    height: 79px;
    transform: translateY(4px);
}

.side .title__text {
    max-width: 950px;
}

.side__title {
    margin-bottom: 140px;
}

.side__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 26px;
}

.side__picture {
    width: 461px;
    height: 583px;
    overflow: hidden;
    margin-right: -110px;
    margin-top: -30px;
}

.side__list {
    max-width: 1050px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 90px 40px;
}

.side__item {
    display: flex;
    gap: 22px;
}

.side__decor::before {
    font-size: 23px;
    color: #D9D9D9;
}

.side__text {
    max-width: 505px;
    font-weight: 400;
}

.side__item:nth-child(1), .side__item:nth-child(3) {
    max-width: 455px;
}

.side__button {
    background: rgba(168, 173, 147, 0.7);
    max-width: 406px;
}


.web-decor-bottom {
    position: relative;
    /*padding-top: 165px;*/
}

.web-decor-bottom__angle {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    border: solid var(--black);
    border-bottom-width: 3vw;
    border-top-width: 50px;
    border-left-width: 0vw;
    border-right-width: 100vw;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.web-decor-bottom::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: no-repeat center / cover url("../img/desktop-bottom-back.png");
    z-index: -2;
    mix-blend-mode: overlay;
    opacity: 0.8;
    filter: blur(1px);
}

.web-decor-bottom::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180.02deg, #15222A 46.41%, #15222A 46.41%);
    z-index: -3;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px 215px;
    flex-wrap: wrap;
    margin-bottom: 108px;
    padding-top: 165px;
    position: relative;
    pointer-events: none;
}

.letter__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    pointer-events: auto;
}

.cookie {
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1012px;
    padding-top: 80px;
    padding-bottom: 40px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(40px);
    -moz-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cookie * {
    color: var(--white);
}

.cookie__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    max-width: 600px;
    text-transform: uppercase;
    text-align: center;

}

.cookie__button {
    background: var(--submit-button);
    min-height: 60px;
    min-width: 270px;
}

.cookie.open {
    display: flex;
    animation: appearCookie .3s ease-in-out;

}

.cookie.closing {
    display: flex;
    animation: disappearCookie .4s ease-in-out;
}

@keyframes appearCookie {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%);
    }
}

@keyframes disappearCookie {
    from {

        opacity: 1;
        transform: translateX(-50%);
    }
    to {
        opacity: 0;
        transform: translateX(-150%);
    }
}

.popup {
    z-index: 10;
    width: 1012px;
    padding-top: 123px;
    padding-bottom: 74px;
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(40px);
    -moz-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.popup__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
}


.popup__text {
    font-size: 25px;
    line-height: 30px;
}


.popup__close {
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: no-repeat center / contain url("../img/cross.svg");
}


.popup__close::after {
    content: '';
    width: 100%;
    height: 100%;

}

.popup__title.error, .popup__text.error {
    color: var(--error);
    display: none;
}

.popup.error .popup__title.error, .popup.error .popup__text.error {
    display: block;
}

.popup.error .popup__title, .popup.error .popup__text {
    display: none;
}

.popup.open {
    animation: appearPopup .3s ease-in-out;
    display: flex;
}

.popup.closing {
    animation: disappearPopup .4s ease-in-out;
    display: flex;
}

@keyframes appearPopup {
    from {
        opacity: 0;
        transform: translate(50%, -30%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -30%);
    }
}

@keyframes disappearPopup {
    from {

        opacity: 1;
        transform: translate(-50%, -30%);
    }
    to {
        opacity: 0;
        transform: translate(-150%, -30%);
    }
}


.letter__text {
    max-width: 544px;
    z-index: 1;
    pointer-events: none;
}

.letter__link {
    pointer-events: auto;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block;
}

.letter__strong {
    display: inline;
    font-weight: 500;
}

.form {
    z-index: 1;
    pointer-events: none;
}

.form__section {
    padding-bottom: 36px;
    width: 718px;

}

.form__section:first-child {
    padding-bottom: 50px;
}

.form__block {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form__error {
    display: block;
    position: absolute;
    bottom: -23px;
    left: 28px;
    font-size: 20px;
    white-space: nowrap;
    line-height: 1.2;
    color: var(--error);
    font-weight: 400;
    z-index: 2;
}

.form__middle {
    flex-direction: row;
    gap: 22px;
    display: flex;
}

.form__label {
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
}


.form__input:focus-visible {
    outline: none;
}

.form__middle .form__block {
    max-width: 348px;
}

.form__input {
    pointer-events: auto;
    max-width: 100%;
    border: 1.5px solid var(--white);
    border-radius: 6px;
    background: transparent;
    padding: 18px 26px;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;

}

.form__input.error {
    border-color: var(--error);
}

.form__input::placeholder {
    color: #999999;
}

.form__button {
    pointer-events: auto;
    margin-top: 24px;
    background: var(--submit-button);
    min-width: 329px;
    min-height: 79px;
}

.form__textarea {
    resize: none;
}


.button__arrow {
    font-size: 55px;
    margin-left: 10px;
    transform: translateY(-3px);
}

.footer__body {
    padding: 84px 65px 70px;
    margin-right: -65px;
    margin-left: -65px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
    flex-wrap: wrap;
    align-items: center;
}

.footer__top * {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
}

.footer__left {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer__logo::before {
    font-size: 48px;
}

.footer__button {
    min-width: 220px;
    min-height: 57px;
    background: var(--submit-button);
    border-radius: 6px;
}

.icon-teleg::before {
    display: inline-block;
    font-size: 25px;
    margin-right: 17px;
}

.footer__list {
    pointer-events: none;
    z-index: 1;
    display: flex;
    gap: 168px;
}

.footer__link {
    pointer-events: auto;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.footer__bottom * {
    font-size: 18px;
    line-height: 22px;
}

.bottom__link {
    pointer-events: auto;

    border-bottom: 0.5px solid var(--white);
}


@media (max-width: 1750px) {
    .swapster__shadow {
        display: none;
    }

    .swapster__picture {
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        height: 500px;
        width: 400px;
    }

    .swapster__picture::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: -50%;
        height: 65px;
        background: linear-gradient(180deg, rgba(11, 19, 24, 0) 5.16%, rgba(11, 19, 25, 0.99) 35.48%, #0B1319 89.45%);
        width: 400vw;
    }

    .swapster__picture::after {
        position: absolute;
        content: '';
        bottom: -65px;
        left: -50%;
        height: 65px;
        background: linear-gradient(180deg, rgba(11, 19, 24, 0) 5.16%, rgba(11, 19, 25, 0.99) 35.48%, #0B1319 89.45%);
        width: 400vw;
        transform: rotate(180deg)
    }

    .swapster__list {
        z-index: 0;
        margin-left: 0px;
        margin-right: auto;
        transform: translateX(49px);
    }


    .swapster__item {
        position: relative;
        margin-left: 0;
        max-width: 500px !important;
    }

    .swapster__item:nth-child(2) {
        margin-left: 0px;
    }

    .swapster__body {
        gap: 70px 140px;
        align-items: flex-start;
    }

    .swapster__button {
        left: 0px;
        transform: translateX(0px);
    }

    .swapster__decor {
        top: 11px !important;
        left: -32px !important;
        background: transparent;
        transform: rotate(0deg) !important;
    }

    .swapster__decor::after {
        display: none;
    }

    .swapster__decor::before {
        background: transparent;
        font-size: 20px;
        left: auto;
        bottom: auto;
        width: auto;
        height: auto !important;
    }

    .letter {
        flex-direction: column;
        width: fit-content;
        align-items: flex-start;
    }


    .senses__item:nth-child(3), .senses__item:nth-child(4) {
        margin-right: 400px;
    }

    .senses__content {
        position: relative;
    }

    .senses__right {
        position: absolute;
        bottom: 0px;
        left: 600px;
    }

    .senses__body {
        padding: 54px 70px 96px 70px;
        margin-left: -70px;
        margin-right: -70px;
    }


    .side__item:nth-child(2) {
        order: -1;
    }

    .side__item:nth-child(3), .side__item:nth-child(3) {
        margin-right: 400px;
    }

    .side__button {
        margin-top: 80px;
    }

    .side__body {
        position: relative;
    }

    .side__picture {
        position: absolute;
        left: 600px;
        bottom: -100px;
        margin-right: 0;
    }

}

@media (max-width: 1500px) {
    .side__list {
        gap: 90px 25px;
    }

    .map {
        margin-top: 30px;
    }

    .swapster__body {
        position: relative;
    }

    .swapster__button {
        left: 0px;
    }

    .footer__list {
        gap: 100px;
    }
}

@media (max-width: 1300px) {
    .container {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 1200px) {

    * {
        font-size: 24px;
        line-height: 30px;
    }

    .container {
        padding-right: 50px;
        padding-left: 50px;
    }

    .header {
        position: relative;
        z-index: 15;
        background: transparent;
    }

    .header__body {
        height: 100px;

        justify-content: space-between;
    }

    .nav {
        padding-top: 200px;
        padding-bottom: 38px;
        z-index: 15;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1067px;
        background: var(--black);
        transform: translateY(-110%);
        transition: transform .4s ease-in-out;
    }

    .nav.open {
        transform: translateY(0%);
    }

    .nav__list {
        flex-direction: column;
        gap: 38px;
        height: 100%;
        justify-content: flex-start;
    }

    .nav__item:nth-child(4) {
        margin-top: auto;
        order: 100;
    }

    .nav__close {
        display: block;
        position: absolute;
        top: 37px;
        right: 20px;
        cursor: pointer;
    }

    .nav__close::before {
        font-size: 30px;
    }

    .header__bar {
        display: block;
        cursor: pointer;
    }

    .header__bar::before {
        font-size: 30px
    }

    .companies {
        transition: margin-bottom .3s ease-in-out;
        margin-bottom: 0px;
    }

    .companies.open {
        margin-bottom: 333px;
    }

    .companies__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swapster__body {
        flex-direction: column;

    }

    .swapster__button {
        position: relative;
        left: auto;
        bottom: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .swapster__list {
        margin-right: 0px;
    }

    .swapster__picture {
        align-self: center;
        width: 100%;
        height: auto;
        margin-left: -11%;
    }

    .swapster__item {
        max-width: 100% !important;
        padding-left: 30px;
    }

    .swapster__list {
        transform: translateX(0px);
    }

    .swapster__decor {
        left: 0px !important;
    }

    .senses__right {

        left: auto;
        right: 0px;
    }

    .bottom__item:nth-child(1) {
        display: none;
    }

    .footer__top {
        flex-direction: column;
        gap: 50px;
    }

    .footer__list {
        width: 100%;
        justify-content: space-between;
    }

    .footer__left {
        gap: 23px;
        transform: translateX(-0px);
    }

    .senses__item {
        max-width: 300px !important;
    }

    .side__text {
        max-width: 300px;
    }

    .side__picture {
        left: auto;
        right: 0px;
        width: 350px;
        height: 483px;
        bottom: -5px;
    }

    .side__button {
        margin-right: auto;
        margin-left: auto;
    }

    .footer__item:nth-child(2) {
        transform: translateX(27px);
    }

    .cases {
        flex-direction: column;
    }

    .cases__item:nth-child(2) {
        margin-top: 0px;
    }

    .coex__button {
        position: absolute;
        bottom: -130px;
        left: 50%;
        transform: translateX(-50%);
    }

    .coex__map {
        margin-bottom: 260px;
    }

    .swapster__logo::before {
        font-size: 40px;
    }

    .header__logo::before {
        font-size: 33px;
    }

}

@media (max-width: 900px) {

    * {
        font-size: 10px;
        line-height: 12px;

    }

    .button {
        font-size: 14px;
        line-height: 17px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__body {
        height: 71px;
        gap: 0px;
    }

    .header__bar::before {
        font-size: 21px;
    }

    .header__logo::before {
        font-size: 27px;
    }

    .nav {
        height: 667px;
    }

    .nav__close::before {
        font-size: 17px;
    }

    .nav__link, .companies__title, .nav__item {
        font-size: 14px;
        line-height: 17px;
    }

    .icon-globe::before {
        margin-right: 9px;
        transform: translateY(3px);
    }

    .companies__title::before {
        top: 6px;
        font-size: 6px;
    }

    .companies__title {
        padding-right: 18px;

    }

    .companies.open {
        margin-bottom: 154px;
    }

    .companies__list {
        padding-top: 18px;
        left: -2px;
        gap: 12px;
    }

    .companies__item {
        padding: 0;
        border-bottom: none !important;

    }

    .companies__link {
        font-size: 14px;
        line-height: 17px;
    }

    .header {
        margin-bottom: 110px;
    }

    .hero__logo::before {
        font-size: 21px;
    }

    .hero__title {
        font-size: 20px;
    }

    .hero__logo {
        margin-bottom: 12px;
    }

    .hero__top {
        margin-bottom: 40px;
    }

    .button {
        border-radius: 4px;
        min-height: 36px;
        min-width: 203px;
    }

    .hero {
        margin-bottom: 120px;
    }

    .about__description, .about__subdescription {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 20px;
    }

    .about__subdescription {
        margin-bottom: 30px;
        max-width: 320px;
    }

    .about__logo::before {
        font-size: 28px;
    }

    .about__link {
        padding: 17px 22px;
        height: 100%;
        justify-content: flex-start;
        gap: 12px;
    }

    .about__item {
        width: 160px;
    }

    .about__item:nth-child(3) .about__logo {
        width: 78px;
        height: 27px;
    }

    .about__list {
        gap: 14px;
    }

    .web-decor-top {
        padding-bottom: 132px;
    }

    .web-decor-top__angle {
        border-top-width: 5.5vw;
    }

    .cookie__title {
        font-size: 14px;
        line-height: 17px;
        max-width: 300px;
    }

    .cookie {
        padding-top: 40px;
        padding-bottom: 26px;
        width: 330px;
    }

    .title {
        flex-direction: column;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .title__logo {
        padding-right: 0px;
        margin-right: 0px;

        position: relative;

    }

    .title__text {
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid var(--black);
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        line-height: 15px;
    }

    .title__logo::after {
        display: none;
    }

    .coex__logo::before, .coexmt__logo::before {
        font-size: 44px;
    }

    .coex {
        padding-top: 0px;
    }

    .benefits__item::after, .benefits__item::before {
        border-width: 1px;
        border-radius: 4px;
        height: 13px;
    }

    .benefits__item::after {
        bottom: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: none;
    }

    .benefits__item::before {
        top: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
    }

    .benefits__item {
        padding: 20px;
        max-width: 193px;
    }

    .benefits__text {
        font-weight: 400;
    }

    .benefits {
        gap: 25px 52px;
        margin-bottom: 30px;
    }

    .coex__subtitle {
        font-size: 12px;
        line-height: 15px;
    }

    .map {
        margin-top: 0px;
        height: 47vw;
    }

    .coex__button {
        bottom: -65px;
    }

    .coex__map {
        margin-bottom: 135px;
    }

    .cases {
        padding-top: 5px;
        gap: 30px;
    }

    .cases__decor {
        width: 44px;
        height: 44px;
    }

    .cases__item {
        gap: 10px;
    }

    .cases__description {
        font-weight: 400;
        max-width: 235px !important;
    }

    .cases__item {
        padding-bottom: 30px;
    }

    .cases__item:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .coex__title.second .title__text {
        max-width: 248px;
    }

    .coex__cases {
        margin-bottom: 40px;
    }

    .coexmt__title .title__text {
        border-color: var(--borrow);
    }

    .coexmt__start {
        padding-top: 5px;
    }

    .coexmt__item {
        gap: 9px;
    }

    .coexmt__decor::before {
        display: inline-block;
        margin-top: 2px;
        font-size: 10px;

    }

    .coexmt__text {
        max-width: 186px;
    }

    .coexmt__content {
        gap: 32px;
        max-width: 335px;
        margin-right: auto;
        margin-left: auto;
    }

    .coexmt__list {
        gap: 18px !important;
    }

    .coexmt__start {
        margin-bottom: 45px;
    }

    .coexmt__end .coexmt__list {
        padding-top: 10px;
        padding-bottom: 15px;
    }


    .border_radius {
        border-radius: 6px;
    }

    .coexmt__picture {
        border-radius: 4px;
    }



    .coexmt {
        margin-bottom: 10px;
    }

    .swapster__logo::before {
        font-size: 27px;
        transform: translateY(0px);
    }

    .dark-sections .title__text {
        border-color: var(--white);
    }

    .swapster {

        padding-top: 110px;
        margin-bottom: 50px;
    }

    .web-decor-middle__angle {
        border-bottom-width: 4.5vw;
    }

    .swapster__title .title__text {
        max-width: 243px;
    }

    .swapster__picture {
        margin-top: 0px;
        width: 50%;
        margin-left: -4%;
    }

    .swapster__picture::before {
        bottom: -33px;
    }

    .swapster__picture::after {
        bottom: -98px;
    }

    .swapster__decor::before {
        transform: none;
        font-size: 8px;
        position: relative;
    }

    .swapster__decor {
        top: 2px !important;
    }

    .swapster__item {
        padding-left: 18px;
    }

    .swapster__list {
        padding-left: 8px;
        padding-right: 4px;
        gap: 18px;
        margin-right: auto;
        margin-left: auto;
    }

    .swapster__body {
        gap: 23px;

    }

    .senses__body {
        border-radius: 10px;
        padding: 28px 14px;
        margin-left: auto;
        margin-right: auto;
        max-width: 335px;
    }

    .senses__logo::before {
        font-size: 40px;
        transform: translateY(0px);
    }

    .senses__title .title__text {
        max-width: 310px;

    }

    .senses__item {
        max-width: 175px !important;
    }

    .senses__list {
        gap: 30px 10px;
        justify-content: space-between;
    }

    .senses__picture {
        display: block;
        position: absolute;
        bottom: -25px;
        right: -32px;
        width: 146px;
        height: 209px;
    }

    .senses__item:nth-child(3), .senses__item:nth-child(4) {
        margin-right: 133px;
    }

    .senses__item:nth-child(1) {
        max-width: 138px !important;
    }

    .senses__item:nth-child(2) {
        max-width: 100px !important;
    }

    .senses__item:nth-child(4) {
        max-width: 155px !important;
    }

    .senses__number {
        font-size: 16px;
        line-height: 20px;
        border-width: 1px;
        margin-bottom: 8px;
    }

    .senses__right {
        position: static;
        align-self: center;
    }

    .senses__content {
        flex-direction: column;
        gap: 58px;
    }


    .side {
        padding-top: 65px;
        background: var(--black);
        padding-bottom: 40px;
    }

    .side__body {
        max-width: 335px;
        margin-right: auto;
        margin-left: auto;
    }


    .side .title__image {
        width: 129px;
        height: 45px;
        transform: translateY(0px);
    }

    .side__title .title__text {
        max-width: 223px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .side__picture {
        display: block;
        width: 174px;
        height: 204px;
        border-radius: 6px;
        bottom: 0px;
    }

    .side__list {
        gap: 24px 20px;
    }

    .side__item:nth-child(2) {
        order: 0;

    }

    .side__item:nth-child(3) {
        order: -1;
        max-width: 179px;
    }

    .side__item:nth-child(1) {
        order: -2;
        max-width: 130px;
    }

    .side__decor::before {
        font-size: 8px;
        color: #D9D9D9;
    }

    .side__item {
        gap: 9px;
    }

    .side__item:nth-child(3) {
        margin-right: 0px;
    }

    .side__item:nth-child(2), .side__item:nth-child(4) {
        max-width: 142px;
        margin-right: 190px;
    }

    .side__button {
        margin-top: 24px;
        max-width: 203px;
    }

    .web-decor-bottom__angle {
        border-top-width: 15px;
    }

    .letter {
        padding-top: 46px;
        align-items: center;
        gap: 28px;
        margin-bottom: 65px;

    }

    .letter__text {
        font-size: 12px;
        line-height: 15px;
        max-width: 291px;
        text-align: center;
    }

    .letter__strong {
        font-size: 12px;
        line-height: 15px;
    }

    .form__section {
        padding-bottom: 18px;
        width: 302px;
    }

    .form__section:first-child {
        padding-bottom: 18px;
    }

    .form__label {
        margin-bottom: 8px;
    }

    .form__input, .form__input::placeholder {
        font-size: 10px;
        line-height: 1.3;

    }

    .form__input {
        border-radius: 4px;
        padding: 8px 11px;
    }

    .form__middle .form__block {
        max-width: 150px;
    }

    .form__middle {
        gap: 14px;
    }

    .form__error {
        font-size: 9px;
        line-height: 12px;
        bottom: -13px;
        left: 2px;
    }

    .form__button {
        margin-top: 5px;
        min-width: 138px !important;
        font-size: 12px;
        line-height: 150%;
    }

    .button__arrow {
        font-size: 28px;
        margin-left: 7px;
        transform: translateY(-2px);
    }

    .popup {
        width: 335px;
        height: 131px;
        padding-top: 61px;
        padding-bottom: 35px;
        gap: 8px;
    }

    .popup__title {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .popup__text {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
    }

    .popup__close {
        width: 17px;
        height: 17px;
        top: 16px;
        right: 16px;
    }

    .footer__body {
        padding: 40px 0px 27px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .footer__button {
        min-width: 102px;
        font-size: 12px;
        line-height: 15px;
    }

    .icon-teleg::before {
        font-size: 12px;
        margin-right: 8px;
        transform: translateY(-5px);
    }

    .footer__logo::before {
        font-size: 35px;
    }

    .footer__left {
        gap: 12px;
        transform: translateX(-7px);
    }

    .footer__link {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__list {
        gap: 0;
    }

    .footer__item:nth-child(2) {
        transform: translateX(15px);
    }

    .bottom__link {
        font-size: 8px;
        line-height: 10px;
    }

    .footer__top {
        gap: 25px;
        margin-bottom: 25px;
    }


}

@media (max-width: 700px) {
    .map {
        margin-top: 40px;
    }

    .about__item {
        width: calc((100% - 14px) / 2);
    }

    .form__middle .form__block {
        max-width: calc((100% - 14px) / 2);
    }

    .swapster__picture {
        margin-top: 0px;
        width: 86%;
        margin-left: -7%;
    }
}

@media (max-width: 400px) {
    .coexmt__start {
        margin-right: -24px;
    }

    .coexmt__end {
        margin-left: -24px;
    }

    .side__item:nth-child(3) {
        max-width: calc(100% - 160px);
    }

    .side__picture {
        width:  calc(100% - 160px);
    }
}


@keyframes appear {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(-200px);
        opacity: 0;
    }
}















