canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js, #particles-js1, #particles-js2{ z-index: 0; position:absolute; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */
#particles-js1 {
    margin-top: -265px;
    height: calc(100% + 265px);
}
